<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>FingerPrint Attendance - Login</title>

    <style>
        body{
            background-image : url(https://cdndailyexcelsior.b-cdn.net/wp-content/uploads/2023/03/P-29.jpg);
        }

        body::after {
        content: "";
        background-color: #ce1f21;
        opacity: 0.7; 
        position: absolute;
        top: 0;   
        left: 0;
        width: 100%;
        height: 100%; 
        z-index: -1;  
                }

        h2{
            color: white !important;
        }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h2 class="text-center  mt-5">FingerPrint Attendance - Login</h2>
          <div class="card my-5">

            <form class="card-body cardbody-color p-lg-5" action="/login" method="POST">

              <div class="text-center">
                <img src="https://i.pinimg.com/736x/2c/a7/1f/2ca71f10767fe2509400a4474db3a688.jpg" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                  width="200px" alt="profile">
              </div>

              <div class="mb-3">
                <input name="username" type="text" class="form-control" id="Username" aria-describedby="emailHelp"
                  placeholder="User Name">
              </div>
              <div class="mb-3">
                <input name="password" type="password" class="form-control" id="password" placeholder="password">
              </div>
              <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Login</button></div>
            </form>
          </div>

        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>